.news_container {
    margin-top: 100px;
}

.go_on_news {
    display: flex;
    margin: 50px;
}

.news_image {
    height: 300px;
    width: 50%;
}

.go_on_news img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.news_content {
    margin: 10px 0 0 0;
}

.news_content .news_title {
    font-size: 30px;
}

.news_content .news_category {
    color: gray;
}

@media (width < 1300px) {
    .news_content {
        margin-left: 50px;
    }
}

@media (width < 1100px) {
    .news_content {
        margin-top: 50px;
    }
}