.container {
    padding-top: 7%;
    background-color: #f2fbff;
    width: 80%;
}

.basic_datasets {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px 0 40px;
}

.basic_data {
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2), 0 5px 18px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    border-radius: 20px;
    width: calc(100% / 3 - 20px);
}

.basic_data svg {
    border-radius: 50%;
    padding: 10px;
    margin: 20px 0 0 20px;
}

.basic_data .numbers{
    margin: 3px 0 0 20px;
    padding: 0;
    font-weight: bold   ;
}

.basic_data .text{
    font-size: 12px;
    color: gray;
    margin: 3px 0 20px 20px;
    padding: 0;
}

.cyanish {
    fill: #3ba8db;
    background-color: #f2fbff;
}

.orangish {
    fill: #ff8c4a;
    background-color: #ffe3d4;
}

.greenish {
    fill: #26bf3c;
    background-color: #e3ffe7;
}

.devblog_crud {
    border: 2px solid red;
    margin-top: 40px;
}