.parent {
    display: flex;
    background-color: white;
    color: #181818;
}

.fill_gap {
    width: 20%;
    height: 100vh;
}

.fill-content {
    display: block;
    background-color: #f2fbff;
    width: 80%;
}

.dashboard_content_heading {
    text-align: center;
}

#edit_slideshow {
    margin: auto;
}

.edit_swiper {
    width: 95%;
    height: 100%;
    }

.edit_Swiper{
    height: 550px !important;
}

.edit_swiperSlideImage {
    object-fit: contain; 
    width: 100%;
    height: 100%; 
  }


.edit_gallery {
    margin: 30px;
    display: flex;
    justify-content: space-between;
}

.edit_gallery_image{
    width: calc(100% / 4 - 20px);
    padding: auto;
    position: relative;
}

.edit_gallery_image img {
    background-color: black;    
    object-fit: contain; 
    width: 100%;
    height: 100%; 
}

.edit_overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain; 
    width: 100%;
    height: 100%; 
    background-color: rgba(24, 24, 24, 0);
}

.edit_gallery_image .edit_overlay:hover {
    background-color: rgba(24, 24, 24, 0.5);
}

.edit_gallery_image .edit_operations:hover .edit_gallery_image .edit_overlay{
    border: 10px solid red;
    opacity: 0.5;
}


.edit_gallery_image .edit_overlay:hover svg {
    display: block;
}

.edit_overlay svg{
    cursor: pointer;
    display: none;
    fill: white;
    border: 2px solid white;
    border-radius: 50%;
    padding: 8px;
    margin-left: 10px;
}

.edit_overlay svg:hover {
    fill: red;
    border: 2.5px solid red;
}

.add_image {
    border: 2px solid gray;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebebeb;
}

.add_image:hover {
    background-color: #cccccc;
}

.add_image svg {
    fill: gray;
    margin: 0 20px;
}